@{
    ViewBag.Title = "Байгууллагын дэлгэрэнгүй";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="sub-header">Байгууллагын дэлгэрэнгүй</h2></div>
                <div class="panel-body">
                    <table class="table-condensed table">
                        <tr>
                            <td>ID</td>
                            <td>@Model.O_ID</td>
                        </tr>
                        <tr>
                            <td>Байгууллагын нэр</td>
                            <td>@Model.O_Name</td>
                        </tr>
                        <tr>
                            <td>Байгууллагын хаяг</td>
                            <td>@Model.O_Address</td>
                        </tr>
                        <tr>
                            <td>Байгууллагын вэб хаяг</td>
                            <td>@Model.O_Web</td>
                        </tr>
                        <tr>
                            <td>Байгууллагын Зураг</td>
                            <td><img src="@Url.Content(@Model.O_Picture)" title="album-name" alt=" " /></td>
                        </tr>
                        <tr>
                            <td>Байгууллагын мэдээллэл</td>
                            <td>@Model.O_DetailInfo</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <a class="btn btn-primary" href="@Url.Action("OrganizationList","Manager")">Буцах</a>
            </div>
        </div>
    }
</div>


