@model EntertainmentWorldTicket.Models.HallViewModel

@{
    ViewBag.Title = "Танхим бүртгэх";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    string Sedew = "Салбар бүртгэх";
    if (Model != null)
    {
        //Засах нөхцөл
        Sedew = "Салбар засах";
    }
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manager</h1>

    <div class="row placeholders">

    </div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="sub-header">@Sedew</h2></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="alert-success">@ViewBag.Message</div>
                        <div class="alert-danger">@ViewBag.ErrorMessage</div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ContractPerion">Танхим нэр</label>
                        @Html.TextBoxFor(a => a.H_Name, new { @class = "form-control" })
                        @Html.HiddenFor(a => a.H_ID)
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ContractPerion">Суудлын тоо</label>
                        @Html.TextBoxFor(a => a.H_SeatNumbers, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ContractPerion">Салбрын ID</label>
                        @Html.DropDownListFor(a => a.B_ID, new SelectList(ViewBag.BranchList, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-12">
                        <button class="btn btn-primary" type="submit">@Sedew</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

