
@{
    ViewBag.Title = "DetailsOrganization";
    Layout = "~/Views/Shared/TicketLayout.cshtml";
}
@using (Html.BeginForm("TicketOrder", "Home", FormMethod.Post))
{
<div class="container">
    @*<div id="map"></div>*@
    <div class="row">
                <div class="box">
                @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">
                                @Model[i].B_Name
                            </h2>
                            <hr>
                        </div>
                        <div class="col-md-6">
                            @Model[i].B_DetailInfo
                        </div>
                        <div class="col-md-6">
                            Салбарын хаяг: @Model[i].B_Address
                            @*<table class="table-condensed table">
        <tr>
            <td>ID</td>
            <td>@Model[i].B_ID</td>
        </tr>
        <tr>
            <td>Салбарын хаяг</td>
            <td>@Model[i].B_Address</td>
        </tr>
        <tr>
            <td>Байгууллагын ID</td>
            <td>@Model[i].O_ID</td>
        </tr>
    </table>*@
                        </div>
                        <div class="clearfix"></div>
        }
                </div>
            </div>
        </div>
}